<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="cfEditor"
            name="cfEditor">
      </category>
      <wizard
            category="cfEditor"
            class="org.cfeditor.cfengine.ui.wizard.CfengineNewProjectWizard"
            finalPerspective="org.eclipse.ui.resourcePerspective"
            icon="icons/Cfengine.png"
            id="org.cfeditor.cfengine.ui.wizard.CfengineNewProjectWizard"
            name="New Cfengine Project"
            project="true">
      </wizard>
            
      <wizard
            class="org.cfeditor.cfengine.ui.wizard.CfengineNewFileWizard"
            icon="icons/Cfeditor.png"
            category="cfEditor"
            id="org.cfeditor.cfengine.ui.wizard.CfengineNewFileWizard"
            name="New Cfengine File"
            project="true">
      </wizard>
<!--
      <wizard
            class="org.cfeditor.wizards.puppet.PuppetNewProjectWizard"
            icon="icons/Puppet.png"
            category="cfEditor"
            id="org.cfeditor.wizards.puppet.PuppetNewProjectWizard"
            name="Puppet Project"
            project="true">
      </wizard>
      -->
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/overview.xml">
      </configExtension>
   </extension>
    <extension  
  		point="org.eclipse.ui.navigator.navigatorContent">
	 	<commonWizard
	       type="new"
	       wizardId="org.cfeditor.wizards.NewCfProjectWizard">
	    <enablement>
	       <or>
	          <adapt
	                type="org.eclipse.core.resources.IFolder">
	          </adapt>
	          <adapt
	                type="org.eclipse.core.resources.IProject">
	          </adapt>
	          <adapt
	                type="org.eclipse.core.resources.IWorkspaceRoot">
	          </adapt>
	          <adapt
	                type="org.eclipse.core.resources.IFile">
	          </adapt>
	       </or>
	    </enablement>
	 	</commonWizard>
	</extension>
    <extension
          point="org.eclipse.ui.views">
       <category
             id="cfEditor"
             name="cfEditor">
       </category>
    </extension>

	<extension
         point="org.eclipse.ui.commands">
      <category
            name="cfEditor"
            id="org.cfeditor.ui.menu.commands.category">
      </category>
      <command
            name="Create cfEditor Project"
            categoryId="org.cfeditor.ui.menu.commands.category"
            id="org.cfeditor.ui.menu.commands.menuCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.cfeditor.ui.menu.commands.menuCommand"
            class="org.cfeditor.wizards.NewCfProjectWizard">
      </handler>
   </extension>
	<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="cfEditor"
               mnemonic="E"
               id="org.cfeditor.ui.menu">
            <command
                  commandId="org.cfeditor.ui.menu.commands.menuCommand"
                  mnemonic="S"
                  id="org.cfeditor.ui.menu.commands.menuCommand">
            </command>
         </menu>
      </menuContribution>
   </extension>
 <extension
       point="org.eclipse.ui.navigator.viewer">
    <viewerActionBinding
          viewerId="org.cfeditor.cfengine">
       <includes>
          <actionExtension
                pattern="org.eclipse.ui.navigator.resources.*">
          </actionExtension>
       </includes>
    </viewerActionBinding>
    <viewerContentBinding
          viewerId="org.cfeditor.cfengine">
       <includes>
          <contentExtension
                pattern="org.eclipse.ui.navigator.resourceContent">
          </contentExtension>
          <contentExtension
                pattern="org.eclipse.ui.navigator.resources.filters.*">
          </contentExtension>
          <contentExtension
                pattern="org.eclipse.ui.navigator.resources.linkHelper">
          </contentExtension>
          <contentExtension
                pattern="org.eclipse.ui.navigator.resources.workingSets">
          </contentExtension>
       </includes>
    </viewerContentBinding>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.eclipse.ui.resourcePerspective">
       <view
             id="org.cfeditor.cfengine"
             ratio="0.5"
             relationship="stack"
             relative="org.eclipse.ui.navigator.ProjectExplorer">
       </view>
    </perspectiveExtension>
 </extension>
</plugin>
