<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="cfeditor.category.wizards"
            name="Cfeditor">
      </category>
      <wizard
            category="cfeditor.category.wizards"
            class="cfeditor.wizards.CfeditorProjectNewWizard"
            finalPerspective="cfeditor.perspective"
            icon="icons/gficon.gif"
            id="cfeditor.wizard.new.cfproject"
            name="Cfeditor Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="cfeditor.perspectives.Perspective"
            icon="icons/gficon.gif"
            id="cfeditor.perspective"
            name="Cfeditor Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="cfeditor.perspective">
         <view
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="cfeditor.editors.CfEditor"
            default="false"
            extensions="cf"
            id="cfeditor.editor"
            name="Cf File Editor">
      </editor>
   </extension>

</plugin>
