<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<extension point="org.eclipse.ui.views">
       <category
             id="org.cfeditor.ui.views.category.cfeditor"
             name="Cfeditor">
       </category>
    </extension>
    <extension point="org.eclipse.ui.newWizards">
    <!-- commented the wizard for choosing between cfengine & cfeditor projects 
      <wizard
            category="org.cfeditor.ui.wizard.category.cfeditor"
            class="org.cfeditor.ui.wizard.NewCfProjectWizard"
            hasPages="true"
            icon="icons/Cfeditor.png"
            id="org.cfeditor.ui.wizard.NewCfProjectWizard"
            name="Cfeditor Project"
            project="true">
      </wizard>
      --> 
      <category
            id="org.cfeditor.ui.wizard.category.cfeditor"
            name="Cfeditor">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/overview.xml">
      </configExtension>
   </extension>
   <extension point="org.eclipse.ui.navigator.navigatorContent">
 		<commonWizard
       		type="new"
       		wizardId="org.cfeditor.ui.wizard.NewCfProjectWizard">
    		<enablement>
       		<or>
          		<adapt
                	type="org.eclipse.core.resources.IFolder">
          		</adapt>
          		<adapt
                	type="org.eclipse.core.resources.IProject">
          		</adapt>
          		<adapt
                	type="org.eclipse.core.resources.IWorkspaceRoot">
          		</adapt>
          		<adapt
                	type="org.eclipse.core.resources.IFile">
          		</adapt>
       		</or>
    		</enablement>
 		</commonWizard>
	</extension>
</plugin>
